@import "~bootstrap/scss/bootstrap";

// | ----- Helpers
.w-max {
    width: max-content;
}

// | ----- Bootstrap Custom
// Custom Stage Name in single Artist page
h3.nav-link.active {
    font-size: 1.5rem;
}

// Custom alert
.alert.alert-dismissible {
    position: absolute;
    width: fit-content;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

// | ----- Custom Modal
#custom-modal.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    & .modal-box {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 2px solid #888;
        border-radius: 15px;
        width: 35%;
        text-align: center;

        & > #modal-content {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }

    & .btn-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * {
            width: 100px;
            margin: 0 auto;
        }
    }
}
